<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Location.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F118458B1A2B42FF005B5DAC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F11845A01A2B42FF005B5DAC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F1A15E741ADAD06E00056BCF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F1A15E7E1ADAD06E00056BCF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F1C5637B1ADABF9400CB6DA6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F1C563851ADABF9400CB6DA6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F1C563A41ADAC77700CB6DA6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F1C563AE1ADAC77700CB6DA6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
